@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --Font-Outfit : 'Outfit', sans-serif;
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-Main : hsl(217, 54%, 11%);
    --Very-Card : hsl(216, 50%, 16%);
    --Very-Line : hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: var(--Font-Outfit);
    background: var(--Very-Main);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    margin: auto 20px;
    max-width: 280px;
    padding: 25px;
    background-color: var(--Very-Card);
    border-radius: 20px;
    font-size: 18px;
}
.fondo img {
    max-width: 100%;
    border-radius: 10px;
    vertical-align: middle;
}
.fondo {
    position: relative;
    cursor: pointer;
}
.fondo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all ease-in 300ms;

}
.texto {
    color: var(--Soft-blue)
}
.card .texto h1 {
    font-size: 1.5em;
}
.precio {
    display: flex;
    justify-content: space-between;
}
.precio p {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.text-cyan {
    color: var(--Cyan);
}
.text-white {
    color: var(--White);
    cursor: pointer;
    transition: color ease-in 300ms;
}
.perfil {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    padding-top: 5px;
}
.perfil::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--Very-Line);
    top: 0;
}
.perfil img {
    width: 30px;
    height: 30px;
    border: 1px solid var(--White);
    border-radius: 50%;
}


@media screen and (max-width: 375px){
    .card {
        font-size: 15px;
    }
    .texto h1 {
        font-size: 1em;
    }
    .precio {
        flex-direction: column;
        align-items: center;
        padding-bottom: 5px;
    }
    .precio p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

}

@media screen and (min-width: 900px){

    .card {
        max-width: 350px;
        box-shadow: 0px 25px 8px 15px #0003;
    }
    .text-white:hover {
        color: var(--Cyan);
        transition: color ease-in 300ms;
    }
    .card-bg:hover > .fondo::before  {
        transition: all ease-in 300ms;
        background-color: hsla(178, 100%, 50%, .5);
        background-image: url("../images/icon-view.svg");
    }

}